{% extends 'base.html' %}
{% block content %}
<h3>FIXTURE</h3>
<p>Sides: {{ fixture.home_team.name }} - {{ fixture.away_team.name }}</p>
<p>Date: {{ fixture.date }}</p>
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
<div class="form">
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
        {% endfor %}
        <br>
        <input type="submit" value="Make bet">
    </form>
</div>
{% endblock %}