{% extends 'base.html' %}
{% block content %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
<div class="form">
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
        {% endfor %}
        <br>
        <input type="submit" value="Login">
    </form>
    <p>
        <strong>Not registered? <a href="{% url 'register' %}">Register now</a></strong>
    </p>
</div>
{% endblock %}