{% extends 'base.html' %}
{% block content %}
<p>Username: {{ user.username }}</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>Email {{ user.email }}</p>
<p>Cash: {{ app_user.cash }}</p>
<ul>
    {% for bet in bets %}
    <li>{{ bet.fixture }}{% if bet.fixture.status == 2  %} result: {{ bet.fixture.goals_home_team }} - {{ bet.fixture.goals_away_team }} {% endif %}
        bet: {{bet.bet}} course: {{bet.bet_course}} bet amount: {{ bet.bet_amount }} zł result: {{ bet.bet_result }}</li>
    {% endfor %}
</ul>
{% endblock %}
