{% extends 'base.html' %}
{% block head %}
{% load static %}
<script src="{% static 'betapp/js/show-fixtures.js' %}"></script>
{% endblock %}
{% block content %}
<h1>{{ team.name }}</h1>
<h3>{{ competition.caption }}</h3>

{% include "links.html" %}
{% include "fixtures_filter.html" %}
<a class="fixtures-description" href="">Team fixtures home</a>
<div>
    {% include "list_fixtures.html" with fixtures=team_fixtures_home %}
</div>
<br>
<a class="fixtures-description" href="">Team fixtures away</a>
<div>
    {% include "list_fixtures.html" with fixtures=team_fixtures_away %}
</div>
<br>
<a class="fixtures-description" href="">Played team fixtures</a>
<div>
    {% include "list_fixtures.html" with fixtures=played_fixtures %}
</div>
<br>
<a class="fixtures-description" href="">Scheduled team fixtures</a>
<div>
    {% include "list_fixtures.html" with fixtures=scheduled_fixtures %}
</div>
<br>
{% endblock %}
