h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;

body {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: aliceblue;
}

.content {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
}

.form {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

.page-header {
    background-color: #21a1ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
